.change-password-form {
    max-width: 96%;
    padding: 20px 30px 20px 30px;
    margin: 7% 10%;
    border-radius: 1ch;
}

.change-password-button {
    width: 50%;
}

.change-password-button-wrapper {
    margin-top: 60px;
    text-align: center;
}

#change-password-verify-text{
    width: 60%;
    float: left;
}

#change-password-verify-form{
    width: 100%;
}

#change-password-verify-vcode{
    padding-left: 70%;
    padding-top: 41px;
}