.detail-repost-wrapper {
    width: 70%;
    float: left;
}

.ant-list-pagination {
    margin-right: 0;
}

.normal-side-bar {
    float: left;
    width: 30%;
    padding-left: 10px;
}

.normal-side-card {
    border-radius: 0.8ch;
    margin-top: 10px;
}

.detail-go-to-top-button {
    position: fixed;
    left: 90%;
    top: 78%;
}

.return-button {
    position: fixed;
    left: 90%;
    top: 84%;
}

.post-button {
    position: fixed;
    left: 90%;
    top: 90%;
}
