.detail-post-wrapper {
    position: absolute;
    width: 100%;
}

.ant-card.post.ant-card-bordered {
    margin-right: 0;
}

.detail-repost-wrapper {
    padding-top: 13%;
}

.post-button {
    position: fixed;
    left: 90%;
    top: 90%;
}

.go-to-top-button {
    position: fixed;
    left: 90%;
    top: 78%;
}

.return-button {
    position: fixed;
    left: 90%;
    top: 84%;
}

.ant-list-pagination {
    margin-right: 30%;
}
