.list-page-root {
    min-height: 100vh;
}

.sidecar1 .slick-slide {
    text-align: center;
    height: 30vh;
    overflow: hidden;
    margin-top: 10px;
}

.sidecar1 .slick-slide img {
    position: absolute;
    top: -20vh;
    width: 100%;
    height: auto;
}

.sidecar1 .slick-slide:hover {
    cursor: pointer;
}

.sidecar1 .slick-slide h3 {
    position: absolute;
    color: #fff;
    padding-top: 10vh;
    font-size: 28px;
    width: 100%;
}

.sidecar1 .slick-slide span {
    position: absolute;
    left: 0;
    color: #fff;
    padding-top: 16vh;
    font-size: 18px;
    width: 100%;
}

.post-list-wrapper {
    width: 70%;
    float: left;
}

.ant-list-pagination {
    margin-right: 0;
}

.normal-side-bar {
    float: left;
    width: 30%;
    padding-left: 10px;
}

.normal-side-card:hover {
    cursor: default;
}

.normal-side-card {
    border-radius: 0.8ch;
    margin: 10px 0;
}

.go-to-top-button {
    position: fixed;
    left: 90%;
    top: 84%;
}

.post-button {
    position: fixed;
    left: 90%;
    top: 90%;
}
