.app {
    font-family: sans-serif;
    font-size: 14px;
}

.navigator {
    line-height: 64px;
}

.navigator-search {
    width: 250px;
}

.app-content {
    padding: 0 5%;
}

.app-footer {
    text-align: center;
}

ul {
    padding-inline-start: 15px;
}
