#editor{
    width: 100%;
    height: 610px;
}

.editor-square{
    width: 50%;
    float: left;
}

.preview-square{
    border-left:1px solid rgba(100, 100, 100, 0.2); 
    width: 50%;
    height: 600px;
    float: left;
    list-style: armenian;
    padding-top: 5px;
    padding-left: 10px;
    overflow:scroll;
}


ul{
    list-style: outside;
}