.antd-card-cover {
    height: 10px;
}

#user-card {
    margin:10px auto;
}

.user-template-root {
    min-height: 100vh;
}

.ant-tabs.ant-tabs-top.ant-tabs-line {
    width: 70%;
    float: left;
}

.user-center-side-bar {
    float: left;
    width: 30%;
    padding-left: 10px;
    margin-top: 60px;
}

.user-center-go-to-top-button {
    position: fixed;
    left: 90%;
    top: 90%;
}

.ant-list-pagination {
    margin-right: 0;
}