.antd-card-cover {
    height: 10px;
}

#user-card {
    margin:10px auto;
}

.user-template-root {
    min-height: 100vh;
}

.ant-tabs.ant-tabs-top.ant-tabs-line {
    width: 70%;
    float: left;
}

.user-center-side-bar {
    float: left;
    width: 30%;
    padding-left: 10px;
    margin-top: 60px;
}

.user-center-side-card {
    margin: 2px 0 10px 0;
}

.user-center-go-to-top-button {
    position: fixed;
    left: 90%;
    top: 90%;
}

.ant-list-pagination {
    margin-right: 0;
}

.change-password-form {
    max-width: 96%;
    padding: 20px 30px 20px 30px;
    margin: 7% 10%;
    border-radius: 1ch;
}

.change-password-button {
    width: 50%;
}

.change-password-button-wrapper {
    margin-top: 60px;
    text-align: center;
}

#change-password-verify-text{
    width: 60%;
    float: left;
}

#change-password-verify-form{
    width: 100%;
}

#change-password-verify-vcode{
    padding-left: 70%;
    padding-top: 41px;
}

.user-data-form {
    max-width: 96%;
    padding: 20px 30px 20px 30px;
    margin: 7% 10%;
    border-radius: 1ch;
}

.user-avatar-wrapper {
    text-align: center;
}

.user-avatar-wrapper img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.user-data-button {
    width: 50%;
}

.user-data-button-wrapper {
    margin-top: 60px;
    text-align: center;
}

#user-data-verify-text{
    width: 60%;
    float: left;
}

#user-data-verify-form{
    width: 100%;
}

#user-data-verify-vcode{
    padding-left: 70%;
    padding-top: 41px;
}
