.ant-modal-body{
    padding: 5px 10px 0 10px;
    height: 100%;
    width: 100%;
}

.ant-modal-content{
    min-width: 800px;
}

.box {
    margin: 0px 10px 0 10px;
}

.title{
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 15px;
}

.title-word{
    padding-bottom: 5px;
}

.editor{
    padding-bottom: 5px;
}

.editor-square{
    width: 50%;
}


.minimap.slider-mouseover{
    border-left:1px solid rgba(100, 100, 100, 0.2);
}