.banner {
    width: 70%;
    float: left;
}
.cardgroup{
    width: 24%;
   
    margin: 0px 1% 0 0;
    float:left;
    display:inline;
}
.subtitle{
   
    font-size: 40px;
}
.toPage{
    padding-right: 10px;
    padding-top:40px;
    float:right;
    font-size: 14px;
}
.subtitlecon{
    margin: 0px 0 10px 0;
    
}