.navigator-search {
    margin-left: 50%;
}

.ant-menu-item .anticon, .ant-menu-submenu-title .anticon {
    font-size: 17px;
    margin-right: 8px;
}

.ant-menu-item.notify {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 25px;
}
